.dashBody {
    background-color:lavender;
    width: 100%;
    padding: 20px;
}

.dashColumnHeading {
    padding: 16px 40px;
}

.dashColumnOne {
    background-color: white;
    font-size:20px;
    font-weight: 500px;
}

.dashColumnTwo {
    background-color: white;
    font-size:20px;
    font-weight: 500px;
}
.dashColumnTwoDiv{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}

.linkItem {
    font-size: 23px;
    color: #35A407;
}

.chartContainer{
    position: relative !important;
}

.linkItem:hover {
    color: #E4670C;
    text-decoration: none;
}