/* .radioContainer {
  background-image: url(https://eco-act.com/app/uploads/2017/02/Footprint.jpg);
  filter: blur(8px);
  -webkit-filter: blur(8px); 
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  display: block;
  height: 100%;
  width: 100%;
} */

.rainbowTitle {
  font-family: "Brush Script MT";
  text-decoration: underline;
  font-size: 72px;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  background-clip: inherit;
  -webkit-text-fill-color: transparent;
}

.questionnaireTitle {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: linear-gradient(to right, #E4670C, #35A407);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

.questionnaireBody {
  background-color:#f4f4f4;
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionnaireCard {
  min-width: 400px;
  background-color: white;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
}